@using AreaCalculator.Enums;
@using AreaCalculator.Models;
@model AreaCalculator.Models.Figure;
@{
    ViewData["Title"] = "Kalkulator powierzchni";
}

<div class="text-center">
    <h1 class="display-4">Kalkulator powierzchni</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col mt-5 center-c">
            @using (Html.BeginForm())
            {
                <form method="post">
                    <div class="centered">
                        @Html.DropDownListFor(m => m.ChosenFigure, new SelectList(Enum.GetValues(typeof(Shapes))), "Wybierz figurę:", new { @class = "form-control" })
                    </div>
                    <div class="invisible" id="FormSection">
                        <div id="label" class="mt-3"></div>
                        <div class="centered m-3">
                            <input id="Sizes" class="form-control" name="Sizes" type="text" />
                        </div>
                        <button class="btn btn-primary" type="submit">Oblicz</button>
                    </div>
                </form>
            }
            <div id="formResult" class="mt-3 mb-5"></div>
        </div>
    </div>
</div>